.vscode
*.d

*.slo
*.lo
*.o
*.obj


*.gch
*.pch


*.so
*.dylib
*.dll


*.mod
*.smod


*.lai
*.la
*.a
*.lib


*.exe
*.out
*.app

*.pdf

.metadata/
out/*
inet4.5
.qtenvrc
Makefile*
results/*

packet_m.h
packet_m.cc
*.anf
lab3-kickstarter